.promo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo .slick-prev {
  left: 20px;
}

.promo .slick-next {
  left: 135px;
}

@media (min-width: $width-notebook) {
  .promo {
    margin-top: 60px;
  }

  .promo__wrapper {
    position: relative;
  }

  .promo__list {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 285px;
      width: 1px;
      height: 100%;
      background-color: var(--color-light);
      opacity: 0.15;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 80px;
      left: 0;
      width: calc(100% - 285px);
      height: 1px;
      background-color: var(--color-light);
      opacity: 0.15;
      z-index: 1;
    }
  }

  .promo .slick-prev {
    left: 185px;
  }

  .promo .slick-next {
    left: calc(185px + 75px + 40px);
  }

  .promo .custom-paging {
    --paging-color: var(--color-light);
    bottom: 31px;
    left: 98px;
  }
}
