.header > .container {
  display: flex;
  align-items: center;
  background-color: var(--color-light);
}

.header__call {
  display: block;
  margin-left: auto;
  font-size: 0;
  background-color: var(--color-dark);
}

.header__mail {
  display: none;
}

.header__icon {
  pointer-events: none;
}

.header__icon use {
  fill: var(--color-dark);
}

.callback-shape {
  fill: var(--color-light);
}

.header__burger {
  position: relative;
  display: block;
  width: 55px;
  height: 60px;
  font-size: 0;
  background-color: var(--color-mid);

  &::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 17px;
    width: 22px;
    height: 4px;
    background-color: var(--color-dark);
    box-shadow: 0 7px 0 0 var(--color-dark);
    transition-duration: 0.4s;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 21px;
    left: 17px;
    width: 22px;
    height: 4px;
    background-color: var(--color-dark);
    transition-duration: 0.4s;
  }
}

.header__burger--close {
  &::before {
    top: 28px;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    box-shadow: none;
  }

  &::after {
    bottom: 28px;
    transform: rotate(-45deg);
    transform-origin: 50% 50%;
    box-shadow: none;
  }
}

@media (max-width: 767px) {
  .header__logo,
  .header__burger,
  .header__call {
    z-index: 5;
  }

  .header__call {
    position: relative;
    z-index: 4;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 150vw;
      height: 100%;
      background-color: var(--color-light);
      z-index: -1;
      pointer-events: none;
    }
  }

  .header__navigations {
    position: absolute;
    top: 60px;
    left: calc(100% * 17 / 374 - 1px);
    padding: 30px;
    padding-right: 0;
    width: calc(100% - 2 * 100% * 17 / 374 + 1px);
    background-color: var(--color-mid);
    transition-duration: 0.4s;
    transform: translateY(-100%);
    z-index: 1;
    pointer-events: none;
  }

  .header__navigations--opened {
    transform: translateY(0);
    z-index: 1;
    pointer-events: all;
  }
}

@media (min-width: $width-tablet) {
  .header__logo {
    order: 1;
  }

  .header__burger {
    display: none;
  }

  .header__call {
    order: 3;
    margin-left: 50px;
  }

  .header__navigations {
    order: 2;
    display: flex;
    justify-content: center;
    position: static;
    margin-left: auto;
    height: 60px;
  }
}

@media (min-width: $width-notebook) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-light);
    z-index: 1;
  }

  .header > .container {
    padding-right: 0;
  }

  .header__mail {
    position: absolute;
    top: 60px;
    right: 0;
    display: block;
    font-size: 0;
  }

  .header__call,
  .header__mail {
    transition-duration: 0.3s;
    transition-property: opacity;
  }

  .header__call:hover,
  .header__mail:hover {
    opacity: 0.5;
  }

  .header__mail .header__icon use {
    fill: var(--color-mid);
  }
}
