.lang {
  display: flex;
  margin: 0;
  margin-top: 47px;
  padding: 0;
  list-style: none;
}

.lang__item:not(:first-of-type) {
  margin-left: 15px;
}

.lang__link {
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: var(--color-dark);
  letter-spacing: 1.05px;
  text-transform: lowercase;
}

@media (min-width: $width-tablet) {
  .lang {
    margin: 0;
    margin-left: 50px;
    height: 60px;
  }

  .lang__link {
    display: flex;
    align-items: center;
    height: 60px;
  }
}

@media (min-width: $width-notebook) {
  .lang__link {
    transition-duration: 0.3s;
    transition-property: opacity;
  }

  .lang__link:hover {
    opacity: 0.5;
  }
}
