@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ubuntulight.woff2") format("woff2"), url("../fonts/ubuntulight.woff") format("woff"); }

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ubuntu.woff2") format("woff2"), url("../fonts/ubuntu.woff") format("woff"); }

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ubuntumedium.woff2") format("woff2"), url("../fonts/ubuntumedium.woff") format("woff"); }

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ubuntubold.woff2") format("woff2"), url("../fonts/ubuntubold.woff") format("woff"); }

@font-face {
  font-family: "Noto Serif";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSerif-Regular.woff2") format("woff2"), url("../fonts/NotoSerif-Regular.woff") format("woff"); }

:root {
  --font-main: "Ubuntu", "Arial", sans-serif;
  --font-headings: "Noto Serif", "Times New Roman", serif;
  --color-dark: #181819;
  --color-dark-opac: rgba(24, 24, 25, 0.75);
  --color-mid: #dee7f0;
  --color-mid-opac: rgba(222, 231, 240, 0.75);
  --color-light: #ffffff;
  --color-input: #eaeaea;
  --color-breadcrumbs: rgba(24, 24, 25, 0.5); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after,
*:focus {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: none; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0; }

.container {
  width: 100%;
  padding: 0 4.54545%; }

.btn {
  display: block;
  padding: 21px;
  width: 250px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-light);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-dark);
  border: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  cursor: pointer; }

.marketing {
  display: block;
  margin: 0;
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--color-dark);
  text-transform: uppercase; }

.heading {
  font-family: var(--font-headings);
  font-size: 36px;
  font-weight: normal;
  line-height: normal;
  color: var(--color-dark); }

.descriptor {
  margin: 0;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: var(--color-dark); }

.slick-arrow {
  --color-arrow: var(--color-mid);
  position: absolute;
  bottom: 30px;
  padding: 0;
  width: 75px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  border: none;
  z-index: 2;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  cursor: pointer; }
  .slick-arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 65px;
    height: 1px;
    background-color: var(--color-arrow); }
  .slick-arrow::after {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    left: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid var(--color-arrow);
    border-bottom: 5px solid transparent; }

.slick-arrow:hover {
  opacity: 0.5; }

.slick-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
  .slick-next::before {
    content: "";
    top: calc(50% - 1px); }

.custom-paging {
  --paging-color: var(--color-ligt);
  position: absolute;
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: var(--paging-color);
  letter-spacing: 1.05px;
  list-style: none; }

.custom-paging li:not(.slick-active) {
  display: none; }

.dot-active {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px; }

.dot-separator {
  margin: 0 10px; }

.breadcrumbs {
  margin-top: 20px; }

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.breadcrumbs__item:not(:first-of-type) {
  position: relative;
  margin-left: 35px; }
  .breadcrumbs__item:not(:first-of-type)::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -20px;
    width: 5px;
    height: 5px;
    background-color: #d8d8d8; }

.breadcrumbs__link {
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: var(--color-breadcrumbs); }

.breadcrumbs__item--deadend .breadcrumbs__link {
  pointer-events: none; }

@media (min-width: 1260px) {
  .container {
    padding: 0 55px; }
  .btn:hover {
    background-color: var(--color-dark-opac); }
  .breadcrumbs {
    margin-top: 80px; } }

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-light); }

.header__call {
  display: block;
  margin-left: auto;
  font-size: 0;
  background-color: var(--color-dark); }

.header__mail {
  display: none; }

.header__icon {
  pointer-events: none; }

.header__icon use {
  fill: var(--color-dark); }

.callback-shape {
  fill: var(--color-light); }

.header__burger {
  position: relative;
  display: block;
  width: 55px;
  height: 60px;
  font-size: 0;
  background-color: var(--color-mid); }
  .header__burger::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 17px;
    width: 22px;
    height: 4px;
    background-color: var(--color-dark);
    -webkit-box-shadow: 0 7px 0 0 var(--color-dark);
            box-shadow: 0 7px 0 0 var(--color-dark);
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s; }
  .header__burger::after {
    content: "";
    position: absolute;
    bottom: 21px;
    left: 17px;
    width: 22px;
    height: 4px;
    background-color: var(--color-dark);
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s; }

.header__burger--close::before {
  top: 28px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-box-shadow: none;
          box-shadow: none; }

.header__burger--close::after {
  bottom: 28px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-box-shadow: none;
          box-shadow: none; }

@media (max-width: 767px) {
  .header__logo,
  .header__burger,
  .header__call {
    z-index: 5; }
  .header__call {
    position: relative;
    z-index: 4; }
    .header__call::before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 150vw;
      height: 100%;
      background-color: var(--color-light);
      z-index: -1;
      pointer-events: none; }
  .header__navigations {
    position: absolute;
    top: 60px;
    left: calc(100% * 17 / 374 - 1px);
    padding: 30px;
    padding-right: 0;
    width: calc(100% - 2 * 100% * 17 / 374 + 1px);
    background-color: var(--color-mid);
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    z-index: 1;
    pointer-events: none; }
  .header__navigations--opened {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    z-index: 1;
    pointer-events: all; } }

@media (min-width: 768px) {
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .header__burger {
    display: none; }
  .header__call {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 50px; }
  .header__navigations {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: static;
    margin-left: auto;
    height: 60px; } }

@media (min-width: 1260px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-light);
    z-index: 1; }
  .header > .container {
    padding-right: 0; }
  .header__mail {
    position: absolute;
    top: 60px;
    right: 0;
    display: block;
    font-size: 0; }
  .header__call,
  .header__mail {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity; }
  .header__call:hover,
  .header__mail:hover {
    opacity: 0.5; }
  .header__mail .header__icon use {
    fill: var(--color-mid); } }

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav__item:not(:first-of-type) {
  margin-top: 30px; }

.nav__link {
  display: block;
  padding-right: 30%;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--color-dark);
  text-transform: uppercase; }

.nav__link--submenu {
  position: relative; }
  .nav__link--submenu::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 23px;
    width: 16px;
    height: 10px;
    background-image: url("../img/arrow__mobile-menu.svg");
    background-size: cover;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }

.nav__link--opened::before {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg); }

.nav__link--opened + .nav__submenu {
  display: block; }

.nav__submenu {
  display: none; }

@media (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
  .nav__item {
    height: 100%;
    font-size: 0; }
  .nav__item:not(:first-of-type) {
    margin-top: 0;
    margin-left: 40px; }
  .nav__link {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
    height: 60px;
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    color: var(--color-dark);
    text-transform: none;
    letter-spacing: 1.05px; }
    .nav__link::before {
      display: none; }
  .nav__link:not([href]):not(.nav__link--submenu),
  .nav__link--opened {
    position: relative; }
    .nav__link:not([href]):not(.nav__link--submenu)::after,
    .nav__link--opened::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: var(--color-mid); }
  .nav__link--submenu {
    cursor: pointer; }
  .nav__submenu {
    display: grid;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .nav__link--submenu + .nav__submenu {
    opacity: 0;
    pointer-events: none; }
  .nav__link--opened + .nav__submenu {
    display: grid;
    opacity: 1;
    pointer-events: all; } }

@media (min-width: 1260px) {
  .nav__link[href],
  .nav__link--submenu {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity; }
  .nav__link[href]:hover,
  .nav__link--submenu:not(.nav__link--opened):hover {
    opacity: 0.5; } }

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 47px;
  padding: 0;
  list-style: none; }

.lang__item:not(:first-of-type) {
  margin-left: 15px; }

.lang__link {
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: var(--color-dark);
  letter-spacing: 1.05px;
  text-transform: lowercase; }

@media (min-width: 768px) {
  .lang {
    margin: 0;
    margin-left: 50px;
    height: 60px; }
  .lang__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px; } }

@media (min-width: 1260px) {
  .lang__link {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity; }
  .lang__link:hover {
    opacity: 0.5; } }

.submenu {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style: none; }

.submenu__item:not(:first-of-type) {
  margin-top: 25px; }

.submenu__link {
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: var(--color-dark);
  letter-spacing: 1.05px; }

.submenu__icon {
  display: none; }

@media (min-width: 768px) {
  .submenu {
    position: absolute;
    top: 60px;
    left: 4.54545%;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    grid-auto-rows: 80px;
    margin: 0;
    width: calc(100% - 2 * 100% * 17 / 374);
    border-left: 1px solid var(--color-mid);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 1; }
  .submenu__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-right: 1px solid var(--color-mid);
    border-bottom: 1px solid var(--color-mid);
    background-color: var(--color-light); }
    .submenu__item::before {
      content: "";
      position: absolute;
      top: -1px;
      left: 0;
      width: calc(100% + 1px);
      height: 1px;
      background-color: var(--color-mid); }
  .submenu__item:not(:first-of-type) {
    margin-top: 0; }
  .submenu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 4.3%;
    padding-left: calc(4.3% * 3);
    width: 100%;
    height: 100%;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .submenu__link:hover {
    background-color: var(--color-mid); }
  .submenu__item .submenu__icon {
    margin-right: 15px; }
  .submenu__icon {
    display: block;
    pointer-events: none; } }

@media (min-width: 1260px) {
  .submenu {
    left: 55px;
    width: calc(100% - 2 * 55px); } }

.footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  padding-bottom: 30px; }

.footer__logo {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

.footer__img {
  margin-top: 40px;
  margin-left: 16px;
  width: 103px;
  opacity: 0.7; }

.footer__phones {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: grid;
  grid-template-columns: repeat(2, 134px);
  grid-auto-rows: auto;
  grid-column-gap: 40px;
  grid-row-gap: 10px;
  margin: 0;
  padding: 0 16px;
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 1.05px;
  list-style: none; }

.footer__phone {
  color: var(--color-dark); }

.footer__address {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0;
  margin-top: 30px;
  padding: 0 16px;
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  color: var(--color-dark);
  letter-spacing: 1.05px; }

.footer__email {
  display: inline-block;
  margin-top: 15px;
  color: var(--color-dark); }

.footer__location {
  margin: 0; }

.footer__copyright {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  margin: 0;
  margin-top: 17px;
  padding: 0 16px;
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 300;
  line-height: 13px;
  color: var(--color-dark);
  letter-spacing: 0.9px;
  opacity: 0.5; }

@media (min-width: 768px) {
  .footer > .container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: auto; }
  .footer__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .footer__img {
    margin: 0; }
  .footer__phones {
    padding: 0;
    margin-left: auto; }
  .footer__address {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: auto;
    padding: 0;
    width: 310px; }
  .footer__copyright {
    grid-row: 3 / 4;
    padding: 0; } }

@media (min-width: 1260px) {
  .footer > .container {
    display: grid;
    grid-template-columns: 103px auto 270px;
    padding-top: 35px; }
  .footer__phones {
    margin-left: 51%; }
  .footer__address {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin: 0;
    width: auto; }
  .footer__email {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity; }
  .footer__email:hover {
    opacity: 0.5; }
  .footer__copyright {
    grid-column: 1 / 3;
    margin: 0; } }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100vw;
  height: 150vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transform: translateY(-50vh);
          transform: translateY(-50vh);
  opacity: 0;
  pointer-events: none;
  z-index: 5; }

.modal--open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  pointer-events: all; }

.modal__content {
  position: relative;
  padding: 40px 45px;
  width: 340px;
  font-size: 0;
  background-color: var(--color-light);
  border-radius: 6px; }

.modal--callback .modal__content {
  margin-top: calc(50vh - 200px);
  height: 400px; }

.modal--message .modal__content {
  margin-top: calc(50vh - 284px);
  padding: 30px 15px;
  height: 568px; }

.modal__img {
  display: none; }

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  width: 24px;
  height: 24px;
  font-size: 0;
  background-color: transparent;
  border: none; }
  .modal__close::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 6px;
    width: 18px;
    height: 2px;
    background-color: var(--color-mid);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .modal__close::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 5px;
    width: 18px;
    height: 2px;
    background-color: var(--color-mid);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.modal__heading {
  margin: 0;
  font-family: var(--font-headings);
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-dark); }

.modal__descriptor {
  margin: 0;
  margin-top: 17px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: var(--color-dark); }

.modal__hint {
  margin: 0;
  margin-top: 25px;
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 300;
  line-height: 13px;
  color: var(--color-dark);
  letter-spacing: 0.9px;
  opacity: 0.5; }

.modal__input {
  margin-top: 15px;
  padding: 11px 20px;
  width: 100%;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: var(--color-dark);
  border: 1px solid var(--color-input);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.modal__input::-webkit-input-placeholder {
  color: var(--color-dark);
  opacity: 0.5; }

.modal__input:-ms-input-placeholder {
  color: var(--color-dark);
  opacity: 0.5; }

.modal__input::-ms-input-placeholder {
  color: var(--color-dark);
  opacity: 0.5; }

.modal__input::placeholder {
  color: var(--color-dark);
  opacity: 0.5; }

.modal__message {
  min-height: 100px;
  resize: none; }

.modal__check {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 0;
  pointer-events: none; }

.modal__check + label {
  position: relative;
  display: block;
  margin-top: 20px;
  padding-left: 41px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  color: var(--color-dark); }
  .modal__check + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border: 1px solid var(--color-input); }
  .modal__check + label::after {
    content: "";
    position: absolute;
    top: calc(50% - 6.5px);
    left: 6px;
    width: 13px;
    height: 13px;
    background-color: var(--color-dark);
    opacity: 0;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }

.modal__check:checked + label::after {
  content: "";
  opacity: 1; }

.modal__btn {
  margin-top: 30px; }

@media (min-width: 768px) {
  .modal__content {
    display: grid;
    grid-template-columns: 290px auto;
    grid-auto-rows: auto;
    grid-column-gap: 40px;
    padding: 0;
    padding-right: 40px;
    width: calc(290px + 340px + 40px); }
  .modal--message .modal__content {
    padding: 0;
    padding-right: 40px; }
  .modal__img {
    grid-row: 1 / 5;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }
  .modal__heading {
    margin-top: 44px; }
  .modal__btn {
    margin-bottom: 40px; } }

@media (min-width: 1260px) {
  .modal--message .modal__content {
    grid-template-columns: 320px auto;
    width: 800px; } }

.more {
  margin-bottom: 40px; }

.more__heading {
  margin: 0;
  margin-top: 40px;
  font-family: var(--font-headings);
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-dark); }

.more__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  margin-top: 20px;
  border-left: 1px solid var(--color-mid); }

.more__item {
  position: relative;
  height: 80px;
  border-right: 1px solid var(--color-mid);
  overflow: hidden; }
  .more__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 1px;
    background-color: var(--color-mid); }

.more__item:last-of-type {
  border-bottom: 1px solid var(--color-mid); }

.more__item:not(:first-of-type) {
  margin: 0; }

.more__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 100px;
  width: 100%;
  height: 100%; }

.more__icon {
  position: absolute;
  top: 20px;
  left: 0;
  display: block;
  margin-left: 30px; }

@media (min-width: 768px) {
  .more {
    margin-bottom: 50px; }
  .more__heading {
    margin-top: 75px; }
  .more__list {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(233px, 1fr));
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid var(--color-mid);
    border-left: 1px solid var(--color-mid);
    opacity: 1;
    pointer-events: all; }
  .more__item::before {
    display: none; } }

.promo__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.promo .slick-prev {
  left: 20px; }

.promo .slick-next {
  left: 135px; }

@media (min-width: 1260px) {
  .promo {
    margin-top: 60px; }
  .promo__wrapper {
    position: relative; }
  .promo__list {
    position: relative; }
    .promo__list::before {
      content: "";
      position: absolute;
      top: 0;
      right: 285px;
      width: 1px;
      height: 100%;
      background-color: var(--color-light);
      opacity: 0.15;
      z-index: 1; }
    .promo__list::after {
      content: "";
      position: absolute;
      bottom: 80px;
      left: 0;
      width: calc(100% - 285px);
      height: 1px;
      background-color: var(--color-light);
      opacity: 0.15;
      z-index: 1; }
  .promo .slick-prev {
    left: 185px; }
  .promo .slick-next {
    left: calc(185px + 75px + 40px); }
  .promo .custom-paging {
    --paging-color: var(--color-light);
    bottom: 31px;
    left: 98px; } }

.banner {
  padding: 106px 20px 96px 20px;
  color: var(--color-light);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.banner--1 {
  background-image: url("../img/index/promo__item-bg--1.jpg"); }

.banner--2 {
  background-image: url("../img/index/promo__item-bg--2.jpg"); }

.banner__heading {
  position: relative;
  margin: 0;
  font-family: var(--font-headings);
  font-size: 36px;
  font-weight: 400;
  line-height: 34px; }
  .banner__heading::before {
    content: "";
    position: absolute;
    top: -35px;
    left: -10px;
    width: 62px;
    height: 76px;
    background-image: url("../img/index/black.svg");
    background-size: cover;
    z-index: -1; }

.banner__feature {
  position: absolute;
  top: -20px;
  left: 0;
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase; }

.banner__descriptor {
  margin: 0;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px; }

.banner__descriptor:first-of-type {
  margin-top: 20px; }

.banner__descriptor:not(:first-of-type) {
  margin-top: 10px; }

.banner__btn {
  margin-top: 40px; }

@media (min-width: 1260px) {
  .banner {
    padding: 129px 501px 141px 100px; }
  .banner__feature {
    top: -31px;
    max-width: 570px; }
  .banner__heading,
  .banner__descriptor {
    max-width: 570px; }
  .banner__heading::before {
    top: -35px;
    left: -10px; }
  .banner__descriptor:first-of-type {
    margin-top: 30px; }
  .banner__descriptor:not(:first-of-type) {
    margin-top: 20px; }
  .banner__btn {
    margin-top: 48px; } }

.contacts {
  display: none;
  font-family: var(--font-main);
  font-style: normal;
  color: var(--color-light); }

@media (min-width: 1260px) {
  .contacts {
    position: absolute;
    top: 170px;
    left: calc(100% - 285px + 80px);
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px; }
  .contacts__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .contacts__item {
    position: relative; }
  .contacts__item .contacts__icon use {
    fill: var(--color-light); }
  .contacts__item .contacts__icon {
    position: absolute;
    top: -4px;
    left: -45px; }
  .contacts__mail {
    display: block;
    margin-top: 24px;
    color: var(--color-light);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity; }
    .contacts__mail::before {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      -webkit-transition-property: opacity;
      transition-property: opacity; }
  .contacts__mail:hover {
    opacity: 0.5; }
    .contacts__mail:hover::before {
      opacity: 0.5; }
  .contacts__mail + .contacts__icon {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity; }
  .contacts__mail:hover + .contacts__icon {
    opacity: 0.5; }
  .contacts__phones {
    margin: 0;
    margin-top: 24px;
    padding: 0;
    list-style: none; }
  .contacts__phone:not(:first-of-type) {
    margin-top: 10px; }
  .contacts__more {
    position: relative;
    display: block;
    margin-top: 60px;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    color: var(--color-light);
    text-transform: lowercase;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    opacity: 0.5; }
  .contacts__more:hover {
    opacity: 1; }
  .contacts__arrow {
    margin-left: 5px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: margin-left;
    transition-property: margin-left; }
  .contacts__more:hover .contacts__arrow {
    margin-left: 20px; }
  .contacts__arrow use {
    fill: var(--color-light);
    opacity: 0.5;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity; }
  .contacts__more:hover .contacts__arrow use {
    opacity: 1; } }

.features__list {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  list-style: none; }

.features__item {
  position: relative;
  padding-top: 89px;
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: var(--color-dark);
  letter-spacing: 1.05px; }
  .features__item::before {
    content: "";
    position: absolute;
    top: 30px;
    height: 44px;
    background-size: cover; }

.features__item--1::before {
  left: calc(50% - 22px);
  width: 44px;
  background-image: url("../img/index/feature__item--1.svg"); }

.features__item--2::before {
  left: calc(50% - 18px);
  width: 36px;
  background-image: url("../img/index/feature__item--2.svg"); }

.features__item--3::before {
  left: calc(50% - 19px);
  width: 38px;
  background-image: url("../img/index/feature__item--3.svg"); }

.features__item--4::before {
  left: calc(50% - 22px);
  width: 44px;
  background-image: url("../img/index/feature__item--4.svg"); }

@media (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .features__item {
    width: 18%;
    text-align: center; } }

@media (min-width: 1260px) {
  .features__list {
    padding-bottom: 0; }
  .features__item {
    padding: 35px 0 31px 0;
    width: 270px;
    text-align: left; }
    .features__item::before {
      left: 0;
      top: calc(50% - 22px); }
  .features__item--1 {
    padding-left: calc(26px + 44px); }
  .features__item--2 {
    padding-left: calc(34px + 36px); }
  .features__item--3 {
    padding-left: calc(38px + 32px); }
  .features__item--4 {
    padding-left: calc(44px + 26px); } }

.about__wrapper {
  position: relative;
  padding: 15px 15px 40px 15px;
  background-color: var(--color-mid); }
  .about__wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -1px;
    width: 172px;
    height: 160px;
    background-image: url("../img/index/decor-light.svg");
    background-size: cover;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    z-index: 0; }

.about__frame {
  height: 294px; }

.about__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.about__heading {
  margin: 0;
  margin-top: 30px;
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--color-dark);
  text-transform: uppercase; }

.about__slogan {
  margin: 0;
  margin-top: 15px;
  font-family: var(--font-headings);
  font-size: 36px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-dark); }

.about__slogan + .about__descriptor {
  margin-top: 15px; }

.about__descriptor + .about__descriptor {
  margin-top: 25px; }

.about__more {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: var(--color-dark); }

.about__btn {
  position: relative;
  margin-top: 64px;
  margin-right: -15px;
  margin-left: auto; }

@media (min-width: 768px) {
  .about__wrapper {
    padding: 40px; }
  .about__frame {
    height: 422px; }
  .about__descriptor {
    max-width: 800px; }
  .about__btn {
    margin-right: -40px; } }

@media (min-width: 1260px) {
  .about__wrapper {
    display: grid;
    grid-template-columns: 480px auto;
    grid-template-rows: auto 60px auto;
    padding-right: 0; }
  .about__frame {
    grid-row: 1 / 4;
    width: 480px;
    height: 455px; }
  .about__content {
    padding-top: 50px;
    padding-right: 96px;
    padding-left: 83px; }
  .about__heading {
    margin: 0; }
  .about__slogan + .about__descriptor {
    margin-top: 33px; }
  .about__descriptor:last-of-type {
    margin-bottom: 40px; }
  .about__more {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity; }
  .about__more:hover {
    opacity: 0.75; }
  .about__btn {
    grid-row: 2 / 3;
    margin: 0;
    margin-left: auto;
    height: 60px; } }

@media (min-width: 1920px) {
  .about__content {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    width: 800px;
    min-height: 395px; } }

.services {
  position: relative;
  padding-bottom: 110px; }

.services > .container {
  padding-top: 40px; }

.services__heading {
  margin: 0; }

.services__marketing {
  margin-bottom: 15px; }

.services__descriptor {
  margin-top: 10px; }

.services__frame {
  margin-top: 30px;
  height: 310px; }

.services__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.services__calc {
  position: relative;
  display: block;
  margin-top: 20px;
  padding: 7px 10px 35px 10px;
  height: 60px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-dark); }
  .services__calc::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 62px;
    height: 60px;
    background-image: url("../img/index/decor-mid.svg");
    background-size: cover;
    z-index: -1; }

.services__wrapper {
  margin-top: -182px;
  padding-left: 4.54545%;
  overflow-x: scroll; }

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.services__item:not(:first-of-type) {
  margin-left: 30px; }

.services__link {
  display: block;
  padding: 27px;
  width: 270px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-dark);
  text-align: center;
  background-color: var(--color-mid); }

@media (min-width: 1260px) {
  .services {
    padding-bottom: calc(72px + 126px); }
  .services > .container {
    display: grid;
    grid-template-columns: auto 570px;
    grid-template-rows: repeat(3, auto);
    padding-top: 110px; }
  .services__marketing {
    grid-row: 1 / 2;
    margin-top: 12px; }
  .services__descriptor {
    grid-row: 2 / 3;
    margin-top: 30px;
    width: 81.2069%; }
  .services__frame {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    margin: 0;
    height: 520px; }
  .services__link {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    transition-property: background-color; }
  .services__link:hover {
    background-color: var(--color-mid-opac); }
  .services__calc {
    margin-top: 200px;
    width: 270px; }
    .services__calc::before {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      -webkit-transition-property: opacity;
      transition-property: opacity; }
  .services__calc:hover::before {
    opacity: 0.5; }
  .services__wrapper {
    margin: 0;
    margin-top: calc(-72px - 126px);
    padding: 0 55px;
    overflow: auto; } }

.ribbon > .container {
  padding-top: 20px; }

.ribbon__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 245px);
  grid-column-gap: 30px;
  grid-row-gap: 45px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 43px 20px 33px 75px;
  list-style: none;
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: var(--color-light);
  background-color: var(--color-dark);
  letter-spacing: 1.05px; }

.ribbon__item {
  position: relative;
  width: 100%; }
  .ribbon__item::before {
    content: "";
    position: absolute;
    background-size: cover; }

.ribbon__item--1::before {
  top: -13px;
  left: -55px;
  width: 40px;
  height: 60px;
  background-image: url("../img/index/coffin.svg"); }

.ribbon__item--2::before {
  top: -6px;
  left: -55px;
  width: 40px;
  height: 60px;
  background-image: url("../img/index/shovel.svg"); }

.ribbon__item--3::before {
  top: -3px;
  left: -55px;
  width: 26px;
  height: 60px;
  background-image: url("../img/index/candle.svg"); }

@media (min-width: 1260px) {
  .ribbon__list {
    grid-template-columns: repeat(3, 250px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 60px 30px 60px 91px; } }

@media (min-width: 1920px) {
  .ribbon__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-right: 0;
    padding-left: 0; } }

.products > .container {
  padding-top: 40px; }

.products__heading {
  margin: 0; }

.products__descriptor {
  margin-top: 10px; }

.products__all {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  padding: 7px 10px 35px 10px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-dark); }
  .products__all::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 62px;
    height: 60px;
    background-image: url("../img/index/decor-mid.svg");
    background-size: cover;
    z-index: -1; }

.products__arrow {
  margin-left: 5px; }

.products__slider {
  position: relative;
  margin-top: 30px; }

.products__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.products__item {
  position: relative;
  padding-top: 16px;
  padding-bottom: 54px;
  width: 100%; }
  .products__item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: var(--color-mid);
    z-index: -1; }

.products__name {
  margin: 0;
  margin-right: -2px;
  font-family: var(--font-main);
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  color: var(--color-light);
  text-transform: uppercase;
  text-align: right; }

.products__img {
  margin-top: 40px;
  width: 85.29412%; }

.products .slick-arrow {
  --color-arrow: var(--color-dark);
  bottom: 17px; }

.products .slick-prev {
  left: 25.58824%; }

.products .slick-next {
  left: 59.41176%; }

.products .custom-paging {
  --paging-color: var(--color-dark);
  left: 0;
  bottom: 19px; }

@media (min-width: 768px) {
  .products__item::before {
    content: "";
    max-width: 570px; }
  .products__img {
    margin-right: 120px;
    margin-left: auto;
    max-width: 700px; } }

@media (min-width: 1260px) {
  .products > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 110px; }
  .products .slick-arrow {
    bottom: 29px; }
  .products .slick-prev {
    left: 15%; }
  .products .slick-next {
    left: auto;
    right: 57.8%; }
  .products__wrapper {
    padding-top: 87px;
    width: 40.95652%; }
  .products__descriptor {
    margin-top: 30px;
    min-height: 84px; }
  .products__all {
    margin-top: 60px;
    width: 150px; }
    .products__all::before {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      -webkit-transition-property: opacity;
      transition-property: opacity; }
  .products__all:hover::before {
    opacity: 0.5; }
  .products__arrow {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: margin-left;
    transition-property: margin-left; }
  .products__all:hover .products__arrow {
    margin-left: 20px; }
  .products__slider {
    margin: 0;
    padding-left: 60px;
    width: 58.26087%; }
  .products__item {
    padding-bottom: 80px; }
    .products__item::before {
      content: "";
      max-width: 730px; }
  .products__name {
    margin-top: 52px; }
  .products__img {
    margin-top: 70px;
    max-width: 1000px; } }

.support > .container {
  --text-padding: 30px;
  padding-top: 30px; }

.support__img {
  display: block;
  width: 100%;
  height: 295px;
  -o-object-fit: cover;
     object-fit: cover; }

.support__heading {
  margin: 0;
  margin-top: var(--text-padding); }

.support__descriptor {
  margin: 0;
  margin-top: 10px; }

.support__btn {
  margin-top: 40px; }

@media (min-width: 768px) {
  .support > .container {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: repeat(3, auto) minmax(40px, auto) auto;
    grid-column-gap: 40px;
    padding-top: 110px; }
  .support__img {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    height: 100%; }
  .support__btn {
    grid-row: 4 / 5;
    margin-bottom: var(--text-padding); } }

@media (min-width: 1260px) {
  .support > .container {
    --text-padding: 66px;
    grid-template-columns: 46.08696% auto;
    grid-column-gap: 70px; }
  .support__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .support__heading,
  .support__descriptor {
    width: 471px; }
  .support__descriptor {
    margin-top: 31px; }
  .support__btn {
    margin-right: 220px;
    margin-top: 88px; } }

.question > .container {
  padding-top: 40px; }

.question__wrapper {
  padding: 40px 20px;
  background-color: var(--color-mid); }

.question__descriptor {
  margin-top: 20px;
  min-height: 84px; }

.question__btn {
  margin-top: 30px;
  margin-right: -20px;
  margin-left: auto; }

@media (min-width: 768px) {
  .question__descriptor {
    min-height: auto; }
  .question__btn {
    margin-top: 15px; } }

@media (min-width: 1260px) {
  .question > .container {
    padding-top: 90px; }
  .question__wrapper {
    display: grid;
    grid-template-columns: 311px 45% 250px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 53px 60px; }
  .question__descriptor {
    margin: 0; }
  .question__btn {
    margin-top: 0;
    margin-right: -60px; } }

.catalog__heading {
  margin: 0;
  margin-top: 30px;
  font-family: var(--font-headings);
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-dark); }

.catalog__descriptor {
  margin: 0;
  margin-top: 20px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: var(--color-dark); }

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 281px);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-gap: 50px 15px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none; }

.catalog__link {
  color: var(--color-dark); }

.catalog__img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover; }

.catalog__name {
  margin: 0;
  margin-top: 6px;
  padding: 0 17px;
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 1.05px; }

.catalog__price {
  margin: 0;
  margin-top: 31px;
  padding: 0 17px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-dark); }

@media (min-width: 1260px) {
  .catalog {
    padding-top: 60px; }
  .catalog__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (min-width: 1920px) {
  .catalog__list {
    grid-gap: 50px 25px; } }

.advantages {
  margin-top: 50px; }

.advantages__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 340px);
  grid-row-gap: 36px;
  margin: 0;
  padding: 46px 0;
  background-color: var(--color-mid);
  list-style: none; }

.advantages__item {
  position: relative;
  padding-right: 25px;
  padding-left: 116px;
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: var(--color-dark);
  letter-spacing: 1.05px; }
  .advantages__item::before {
    content: "";
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat; }

.advantages__item--price::before {
  top: -6px;
  left: 30px;
  width: 44px;
  height: 44px;
  background-image: url("../img/catalog/piggy-bank.svg"); }

.advantages__item--quality::before {
  top: -6px;
  left: 37px;
  width: 31px;
  height: 44px;
  background-image: url("../img/catalog/ribbon.svg"); }

.advantages__item--range::before {
  top: -5px;
  left: 30px;
  width: 44px;
  height: 42px;
  background-image: url("../img/catalog/shopping-cart.svg"); }

.advantages__item--time::before {
  top: -6px;
  left: 34px;
  width: 36px;
  height: 44px;
  background-image: url("../img/catalog/stopwatch.svg"); }

@media (min-width: 768px) {
  .advantages__list {
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media (min-width: 1260px) {
  .advantages {
    margin-top: 110px; }
  .advantages__list {
    grid-template-columns: repeat(auto-fit, 290px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .advantages__item {
    padding-right: 0;
    padding-left: 116px; } }

@media (min-width: 1920px) {
  .advantages__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; } }

.service__img {
  margin-top: 20px;
  width: 100%;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover; }

.service__heading {
  margin: 0;
  margin-top: 30px;
  font-family: var(--font-headings);
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-dark); }

.service__descriptor {
  margin: 0;
  margin-top: 20px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: var(--color-dark); }

.service__features {
  margin: 0;
  margin-top: 32px;
  padding: 0;
  list-style: none; }

.service__feature {
  position: relative;
  padding-left: 35px;
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: var(--color-dark);
  letter-spacing: 1.05px; }
  .service__feature::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 15px;
    height: 20px;
    background-image: url("../img/pages/pin-icon.svg");
    background-size: cover; }

.service__feature:not(:first-of-type) {
  margin-top: 26px; }

.service__btn {
  display: none; }

.service:not(.service--funeral) .service__calc {
  display: none; }

@media (min-width: 1260px) {
  .service {
    padding-right: 1.6%;
    margin-top: 20px; }
  .service > .container {
    display: grid;
    grid-template-columns: 450px auto;
    grid-template-rows: repeat(10, auto);
    grid-column-gap: 6.0177%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; }
  .service__img {
    grid-row: 1 / -1;
    margin: 0;
    height: 550px; }
  .service__heading {
    margin-top: 23px; }
  .service__descriptor {
    grid-column: 2 / 3;
    margin-top: 30px; }
  .service__features {
    grid-column: 2 / 3;
    margin-top: 52px; }
  .service__controls {
    grid-column: 2 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px; }
  .service__btn {
    grid-column: 2 / 3;
    display: inline-block;
    margin: 0; }
  .service:not(.service--funeral) .service__btn {
    margin-top: 50px; }
  .service__calc {
    margin: 0;
    margin-left: 131px; } }

.enquiries > .container {
  padding-bottom: 50px; }

.enquiries__map {
  width: 100%;
  height: 300px;
  border: 0;
  frameborder: 0; }

.enquiries__contacts {
  display: block;
  color: var(--color-dark); }

.enquiries__heading {
  margin: 0;
  margin-top: 40px;
  font-family: var(--font-headings);
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-dark); }

.enquiries__list {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-left: 35px;
  list-style: none; }

.enquiries__item {
  position: relative;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: var(--color-dark); }

.enquiries__item:not(:first-of-type) {
  margin-top: 15px; }

.enquiries__icon {
  position: absolute;
  top: 2px;
  left: -35px; }

.enquiries__mail {
  color: var(--color-dark); }

.enquiries__phones {
  display: grid;
  grid-template-columns: repeat(2, auto);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  grid-column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none; }

.enquiries__location .enquiries__heading {
  margin-top: 64px; }

.enquiries__hints {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-left: 76px;
  list-style: none; }

.enquiries__hint {
  position: relative;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: var(--color-dark); }

.enquiries__hint:not(:first-of-type) {
  margin-top: 20px; }

.enquiries__hint--metro::before {
  content: "";
  position: absolute;
  top: 2px;
  left: calc(-25px - 48px);
  width: 25px;
  height: 25px;
  background-image: url("../img/contacts/metro.svg");
  background-size: cover; }

.enquiries__hint--bus::after {
  content: "";
  position: absolute;
  top: 3px;
  width: 23px;
  height: 23px;
  background-image: url("../img/contacts/bus.svg");
  background-size: cover; }

.enquiries__hint--metro.enquiries__hint--bus::after {
  left: calc(-23px - 15px); }

.enquiries__hint--bus:not(.enquiries__hint--metro)::after {
  left: calc(-23px - 50px); }

@media (min-width: 768px) {
  .enquiries > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px; }
  .enquiries__map {
    grid-column: 1 / 3;
    margin-bottom: 80px; }
  .enquiries__heading,
  .enquiries__location .enquiries__heading {
    margin: 0; } }

@media (min-width: 1260px) {
  .enquiries {
    margin-top: 60px; }
  .enquiries__contacts {
    position: static; }
  .enquiries .enquiries__icon {
    position: absolute;
    top: 2px;
    left: -35px; }
  .enquiries__item .enquiries__icon use {
    fill: var(--color-dark); } }
