@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ubuntulight.woff2") format("woff2"), url("../fonts/ubuntulight.woff") format("woff"); }

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ubuntu.woff2") format("woff2"), url("../fonts/ubuntu.woff") format("woff"); }

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ubuntumedium.woff2") format("woff2"), url("../fonts/ubuntumedium.woff") format("woff"); }

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ubuntubold.woff2") format("woff2"), url("../fonts/ubuntubold.woff") format("woff"); }

@font-face {
  font-family: "Noto Serif";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSerif-Regular.woff2") format("woff2"), url("../fonts/NotoSerif-Regular.woff") format("woff"); }

:root {
  --font-main: "Ubuntu", "Arial", sans-serif;
  --font-headings: "Noto Serif", "Times New Roman", serif;
  --color-dark: #181819;
  --color-mid: #dee7f0;
  --color-light: #ffffff; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0; }

.container {
  width: 100%;
  padding: 0 4.54545%; }

.btn {
  display: block;
  padding: 21px;
  width: 250px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-light);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-dark);
  border: none; }

.marketing {
  display: block;
  margin: 0;
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--color-dark);
  text-transform: uppercase; }

.heading {
  font-family: var(--font-headings);
  font-size: 36px;
  font-weight: normal;
  line-height: normal;
  color: var(--color-dark); }

.descriptor {
  margin: 0;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: var(--color-dark); }

@media (min-width: 1260px) {
  .container {
    padding: 0 55px; } }

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__call {
  display: block;
  margin-left: auto;
  font-size: 0; }

.header__mail {
  display: none; }

.header__icon use {
  fill: var(--color-dark); }

.callback-shape {
  fill: var(--color-light); }

.header__burger {
  position: relative;
  display: block;
  width: 55px;
  height: 60px;
  font-size: 0;
  background-color: var(--color-mid); }
  .header__burger::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 17px;
    width: 22px;
    height: 4px;
    background-color: var(--color-dark);
    -webkit-box-shadow: 0 7px 0 0 var(--color-dark);
            box-shadow: 0 7px 0 0 var(--color-dark); }
  .header__burger::after {
    content: "";
    position: absolute;
    bottom: 21px;
    left: 17px;
    width: 22px;
    height: 4px;
    background-color: var(--color-dark); }

.header__navigations {
  position: absolute;
  top: 60px;
  left: 0;
  display: none; }

@media (min-width: 768px) {
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .header__burger {
    display: none; }
  .header__call {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 50px; }
  .header__navigations {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    margin-left: auto; } }

@media (min-width: 1260px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-light);
    z-index: 1; }
  .header > .container {
    padding-right: 0; }
  .header__mail {
    position: absolute;
    top: 60px;
    right: 0;
    display: block;
    font-size: 0; }
  .header__mail .header__icon use {
    fill: var(--color-mid); } }

@media (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none; }
  .nav__item:not(:first-of-type) {
    margin-left: 40px; }
  .nav__link {
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    color: var(--color-dark);
    letter-spacing: 1.05px; } }

@media (min-width: 768px) {
  .lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-left: 50px;
    padding: 0;
    list-style: none; }
  .lang__item:not(:first-of-type) {
    margin-left: 15px; }
  .lang__link {
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    color: var(--color-dark);
    letter-spacing: 1.05px;
    text-transform: lowercase; } }

.promo__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.promo .slick-arrow {
  position: absolute;
  bottom: 30px;
  padding: 0;
  width: 75px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  border: none;
  z-index: 1; }
  .promo .slick-arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 65px;
    height: 1px;
    background-color: var(--color-mid); }
  .promo .slick-arrow::after {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    left: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid var(--color-mid);
    border-bottom: 5px solid transparent; }

.promo .slick-prev {
  left: 20px; }

.promo .slick-next {
  left: 135px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
  .promo .slick-next::before {
    content: "";
    top: calc(50% - 1px); }

@media (min-width: 1260px) {
  .promo {
    margin-top: 60px; }
  .promo__wrapper {
    position: relative; }
  .promo__list {
    position: relative; }
    .promo__list::before {
      content: "";
      position: absolute;
      top: 0;
      right: 285px;
      width: 1px;
      height: 100%;
      background-color: var(--color-light);
      opacity: 0.15;
      z-index: 1; }
    .promo__list::after {
      content: "";
      position: absolute;
      bottom: 80px;
      left: 0;
      width: calc(100% - 285px);
      height: 1px;
      background-color: var(--color-light);
      opacity: 0.15;
      z-index: 1; }
  .promo .slick-prev {
    left: 185px; }
  .promo .slick-next {
    left: calc(185px + 75px + 40px); }
  .promo .custom-paging {
    position: absolute;
    bottom: 31px;
    left: 98px;
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    color: var(--color-light);
    letter-spacing: 1.05px;
    list-style: none; }
  .promo .custom-paging li:not(.slick-active) {
    display: none; }
  .promo .dot-active {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px; }
  .promo .dot-separator {
    margin: 0 10px; } }

.banner {
  padding: 106px 20px 96px 20px;
  color: var(--color-light);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.banner--1 {
  background-image: url("../img/index/promo__item-bg--1.jpg"); }

.banner--2 {
  background-image: url("../img/index/promo__item-bg--2.jpg"); }

.banner__heading {
  position: relative;
  margin: 0;
  font-family: var(--font-headings);
  font-size: 36px;
  font-weight: 400;
  line-height: 34px; }

.banner__feature {
  position: absolute;
  top: -20px;
  left: 0;
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase; }

.banner__descriptor {
  margin: 0;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px; }

.banner__descriptor:first-of-type {
  margin-top: 20px; }

.banner__descriptor:not(:first-of-type) {
  margin-top: 10px; }

.banner__btn {
  margin-top: 40px; }

@media (min-width: 1260px) {
  .banner {
    padding: 129px 501px 141px 100px; }
  .banner__feature {
    top: -31px;
    max-width: 570px; }
  .banner__heading,
  .banner__descriptor {
    max-width: 570px; }
  .banner__descriptor:first-of-type {
    margin-top: 30px; }
  .banner__descriptor:not(:first-of-type) {
    margin-top: 20px; }
  .banner__btn {
    margin-top: 48px; } }

.contacts {
  display: none;
  font-family: var(--font-main);
  font-style: normal;
  color: var(--color-light); }

@media (min-width: 1260px) {
  .contacts {
    position: absolute;
    top: 170px;
    left: calc(100% - 285px + 80px);
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px; }
  .contacts__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .contacts__item {
    position: relative; }
  .contacts__item .contacts__icon use {
    fill: var(--color-light); }
  .contacts__item .contacts__icon {
    position: absolute;
    top: -4px;
    left: -45px; }
  .contacts__mail {
    display: block;
    margin-top: 24px;
    color: var(--color-light); }
  .contacts__phones {
    margin: 0;
    margin-top: 24px;
    padding: 0;
    list-style: none; }
  .contacts__phone:not(:first-of-type) {
    margin-top: 10px; }
  .contacts__more {
    position: relative;
    display: block;
    margin-top: 60px;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    color: var(--color-light);
    text-transform: lowercase;
    opacity: 0.5; }
  .contacts__arrow {
    margin-left: 5px; }
  .contacts__arrow use {
    fill: var(--color-light);
    opacity: 0.5; } }

.features__list {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: auto;
  margin: 0;
  padding: 0;
  list-style: none; }

.features__item {
  position: relative;
  padding-top: 89px;
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: var(--color-dark);
  letter-spacing: 1.05px; }
  .features__item::before {
    content: "";
    position: absolute;
    top: 30px;
    height: 44px;
    background-size: cover; }

.features__item--1::before {
  left: calc(50% - 22px);
  width: 44px;
  background-image: url("../img/index/feature__item--1.svg"); }

.features__item--2::before {
  left: calc(50% - 18px);
  width: 36px;
  background-image: url("../img/index/feature__item--2.svg"); }

.features__item--3::before {
  left: calc(50% - 19px);
  width: 38px;
  background-image: url("../img/index/feature__item--3.svg"); }

.features__item--4::before {
  left: calc(50% - 22px);
  width: 44px;
  background-image: url("../img/index/feature__item--4.svg"); }

@media (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .features__item {
    width: 18%;
    text-align: center; } }

@media (min-width: 1260px) {
  .features__item {
    padding: 35px 0 31px 0;
    width: 270px;
    text-align: left; }
    .features__item::before {
      left: 0;
      top: calc(50% - 22px); }
  .features__item--1 {
    padding-left: calc(26px + 44px); }
  .features__item--2 {
    padding-left: calc(34px + 36px); }
  .features__item--3 {
    padding-left: calc(38px + 32px); }
  .features__item--4 {
    padding-left: calc(44px + 26px); } }

.about {
  margin-top: 30px; }

.about__wrapper {
  position: relative;
  padding: 15px 15px 40px 15px;
  background-color: var(--color-mid); }
  .about__wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -1px;
    width: 172px;
    height: 160px;
    background-image: url("../img/index/decor-light.svg");
    background-size: cover;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    z-index: 0; }

.about__frame {
  height: 294px; }

.about__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.about__heading {
  margin: 0;
  margin-top: 30px;
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--color-dark);
  text-transform: uppercase; }

.about__slogan {
  margin: 0;
  margin-top: 15px;
  font-family: var(--font-headings);
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
  color: var(--color-dark); }

.about__slogan + .about__descriptor {
  margin-top: 15px; }

.about__descriptor + .about__descriptor {
  margin-top: 25px; }

.about__more {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: var(--color-dark); }

.about__btn {
  position: relative;
  margin-top: 64px;
  margin-right: -15px;
  margin-left: auto; }

@media (min-width: 768px) {
  .about__wrapper {
    padding: 40px; }
  .about__frame {
    height: 422px; }
  .about__descriptor {
    max-width: 800px; }
  .about__btn {
    margin-right: -40px; } }

@media (min-width: 1260px) {
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .about__content {
    padding-top: 50px;
    padding-right: 96px;
    padding-left: 83px; }
  .about__heading {
    margin: 0; }
  .about__slogan + .about__descriptor {
    margin-top: 33px; }
  .about__btn {
    margin-top: 51px;
    margin-right: calc(-96px - 40px); } }

.services {
  position: relative; }

.services > .container {
  padding-top: 40px; }

.services__heading {
  margin: 0; }

.services__marketing {
  margin-bottom: 15px; }

.services__descriptor {
  margin-top: 10px; }

.services__frame {
  margin-top: 30px;
  height: 310px; }

.services__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.services__calc {
  position: relative;
  display: block;
  margin-top: 20px;
  padding: 7px 10px 35px 10px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-dark); }
  .services__calc::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 62px;
    height: 60px;
    background-image: url("../img/index/decor-mid.svg");
    background-size: cover;
    z-index: -1; }

.services__wrapper {
  margin-top: -182px;
  padding-left: 4.54545%;
  overflow-x: scroll; }

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.services__item:not(:first-of-type) {
  margin-left: 30px; }

.services__link {
  display: block;
  padding: 27px;
  width: 270px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-dark);
  text-align: center;
  background-color: var(--color-mid); }
