html {
  box-sizing: border-box;
}

*,
*::before,
*::after,
*:focus {
  box-sizing: inherit;
  outline: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.container {
  width: 100%;
  padding: 0 100% * 17 / 374;
}

.btn {
  display: block;
  padding: 21px;
  width: 250px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-light);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-dark);
  border: none;
  transition-duration: 0.3s;
  transition-property: background-color;
  cursor: pointer;
}

.marketing {
  display: block;
  margin: 0;
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--color-dark);
  text-transform: uppercase;
}

.heading {
  font-family: var(--font-headings);
  font-size: 36px;
  font-weight: normal;
  line-height: normal;
  color: var(--color-dark);
}

.descriptor {
  margin: 0;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: var(--color-dark);
}

.slick-arrow {
  --color-arrow: var(--color-mid);
  position: absolute;
  bottom: 30px;
  padding: 0;
  width: 75px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  border: none;
  z-index: 2;
  transition-duration: 0.3s;
  transition-property: opacity;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 65px;
    height: 1px;
    background-color: var(--color-arrow);
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    left: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid var(--color-arrow);
    border-bottom: 5px solid transparent;
  }
}

.slick-arrow:hover {
  opacity: 0.5;
}

.slick-next {
  transform: rotate(180deg);

  &::before {
    content: "";
    top: calc(50% - 1px);
  }
}

.custom-paging {
  --paging-color: var(--color-ligt);
  position: absolute;
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: var(--paging-color);
  letter-spacing: 1.05px;
  list-style: none;
}

.custom-paging li:not(.slick-active) {
  display: none;
}

.dot-active {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.dot-separator {
  margin: 0 10px;
}

.breadcrumbs {
  margin-top: 20px;
}

.breadcrumbs__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item:not(:first-of-type) {
  position: relative;
  margin-left: 35px;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -20px;
    width: 5px;
    height: 5px;
    background-color: #d8d8d8;
  }
}

.breadcrumbs__link {
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: var(--color-breadcrumbs);
}

.breadcrumbs__item--deadend .breadcrumbs__link {
  pointer-events: none;
}

@media (min-width: $width-notebook) {
  .container {
    padding: 0 55px;
  }

  .btn:hover {
    background-color: var(--color-dark-opac);
  }

  .breadcrumbs {
    margin-top: 80px;
  }
}
