$width-phone: 374px;
$width-tablet: 768px;
$width-notebook: 1260px;
$width-desktop: 1920px;

:root {
  --font-main: "Ubuntu", "Arial", sans-serif;
  --font-headings: "Noto Serif", "Times New Roman", serif;

  --color-dark: #181819;
  --color-dark-opac: rgba(24, 24, 25, 0.75);
  --color-mid: #dee7f0;
  --color-mid-opac: rgba(222, 231, 240, 0.75);
  --color-light: #ffffff;
  --color-input: #eaeaea;
}
